h1 {
  background-color:rgb(206, 191, 206);
  box-sizing: border-box;
  text-align: center;
}
* {
    box-sizing: border-box;
  }
  .column {
    float: left;
    font-size: 18px;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    height: 800px;
    padding: 100px;
    width: 25%;
  }
  .row:after {
    clear: both;
    content: "";
    display: table;
  }
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }